footer {
    margin-top:178px;
    background-color: rgb(54, 53, 51);

    .container {
        height: 548px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    .footer_top {
        display: flex;
        align-items: start;
        gap: 77px;
        .footer-logo {
            width: 187px;
            border-radius: 20px;
        }
        .terms {
            font-family: 'Quicksand';
            font-style: normal;
            
            display: flex;
            flex-direction: column;
            gap:6px;
            width: 172px;
            height: 119px;
            
            p {
                font-weight: 700;
                font-size: 22px;
                line-height: 28px;
                color: #FFFFFF;
                font-family: 'Quicksand';
                width: 172px;
                height: 119px;
            }
            a {
                font-family: 'Quicksand';
                font-weight: 400;
                font-size: 18px;
                line-height: 23px;
                color:#FFFFFF;
                padding:10px;
            }
        }
        .company {
            width: 115px;
            height: 190px;
            font-family: 'Quicksand';
            font-style: normal;
            display: flex;
            flex-direction: column;
            gap:6px;
            p {
                font-weight: 700;
                font-size: 22px;
                line-height: 28px;
                color: #FFFFFF;
                font-family: 'Quicksand';
                width: 115px;
                height: 190px;
            }
            a {
                font-family: 'Quicksand';
                font-weight: 400;
                font-size: 18px;
                line-height: 23px;
                color: #FFFFFF;
                padding:10px;
            }
        }

        .location {
            width: 284px;
            height: 250px;
            font-family: 'Quicksand';
            font-style: normal;
            display: flex;
            flex-direction: column;
            gap:6px;
            p {
                font-weight: 700;
                font-size: 22px;
                line-height: 28px;
                color: #FFFFFF;
                font-family: 'Quicksand';
                width: 284px;
                height: 250px;
               
            }
            a {
                font-family: 'Quicksand';
                font-weight: 400;
                font-size: 18px;
                line-height: 23px;
                color:#FFFFFF;
                padding:10px;
                
            }
    
        }
        .contact {
            width: 195px;
            height: 119px;
            font-family: 'Quicksand';
            font-style: normal;
            display: flex;
            flex-direction: column;
            gap:6px;
            p {
                font-weight: 700;
                font-size: 22px;
                line-height: 28px;
                color: #FFFFFF;
                font-family: 'Quicksand';
                width: 195px;
                height: 119px;
            }
            a {
                font-family: 'Quicksand';
                font-weight: 400;
                font-size: 18px;
                line-height: 23px;
                color: #FFFFFF;
                padding:10px;
                
            }
    
        }
    }
    .footer_bottom {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 78px;
        .social-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 40px;
            img {
                width: 40px;
                height: 40px;
                background-color: #FFFFFF;
                border-radius: 50px;
                padding:11px;
                cursor: pointer;
            }
        }
        .line {
            width: 500px;
            height: 1px;
            border-radius: 5px;
            display:flex;
            justify-content: center;
            align-items: center;
            background-color: white;
            margin: 18px 0;
        }

        p {
            font-size: 18px;
            line-height: 22px;
            color: #FFFFFF;
        }
    }

    }
    

}